<?xml version="1.0" encoding="UTF-8"?>
<config-description:config-descriptions
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:config-description="https://openhab.org/schemas/config-description/v1.0.0"
	xsi:schemaLocation="https://openhab.org/schemas/config-description/v1.0.0 https://openhab.org/schemas/config-description-1.0.0.xsd">

	<config-description uri="thing-type:airtouch:config">
		<parameter name="host" type="text" required="true" groupName="connection">
			<context>network-address</context>
			<label>AirTouch Host</label>
			<description>Hostname or IP address of the device</description>
		</parameter>
		<parameter name="port" type="integer" min="0" max="65535" required="true" groupName="connection">
			<label>AirTouch Port</label>
			<description>Port to connect to the device</description>
			<default>9004</default>
			<advanced>true</advanced>
		</parameter>
		<parameter name="refreshInterval" type="integer" unit="s" min="10" required="true">
			<label>Refresh Interval</label>
			<description>Interval the device is polled in sec.</description>
			<default>60</default>
			<advanced>true</advanced>
		</parameter>
	</config-description>
</config-description:config-descriptions>
